pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

fastapi
google-cloud-vision
google-cloud-storage
python-multipart
python-dotenv
requests
uvicorn

dill
fsspec
gcsfs
joblib
pillow
